table {
	border-collapse: collapse;
	margin: auto;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

td {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
